APP_ENV=prod
GO_API_ADDR=:8080
FUNDS_SERVICE_ADDR=http://127.0.0.1:8081
DATABASE_URL=postgres://zhw:change-me@127.0.0.1:5432/zhw_mini?sslmode=disable
DATABASE_DRIVER=postgres
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
JWT_SECRET=change-me
STORAGE_PROVIDER=minio
MINIO_ENDPOINT=haowan-prod-1317494733.cos.ap-nanjing.myqcloud.com
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
STORAGE_UPLOAD_BASE_URL=https://api.haowan.net.cn
STORAGE_DOWNLOAD_BASE_URL=https://static.haowan.net.cn
WECHAT_APP_ID=wxa12d5e6acffa93a0
WECHAT_APP_SECRET=
WECHAT_URL_LINK_BASE_URL=https://api.haowan.net.cn
SMS_HTTP_ENDPOINT=https://api.haowan.net.cn/api/app/sms
SMS_HTTP_SECRET=
FACEID_HTTP_ENDPOINT=https://api.haowan.net.cn/api/app/identity/faceid
FACEID_HTTP_SECRET=
TENCENT_FACEID_CALLBACK_SECRET=
TENCENT_FACEID_CALLBACK_REQUIRE_SIGNATURE=false
TENCENT_MAP_ENABLED=true
TENCENT_MAP_KEY_SERVER=
TENCENT_MAP_SK=
TENCENT_MAP_API_BASE=https://apis.map.qq.com
TENCENT_MAP_REQUEST_TIMEOUT_MS=3000
OPENIM_API_ADDR=
OPENIM_SECRET=
OPENIM_ADMIN_USER_ID=imAdmin
